* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #fff !important;
}



.layout {
  overflow: hidden;
  width: 100%;
  height: calc(100vh);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  height: 64;
  line-height: 64px;
  background-color: #000;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}


.content {
  text-align: center;
  min-height: 120;
  line-height: 120px;
  color: #fff;
  background-color: #000;
  height: calc(100vh - 64px);
}

.ant-form-item-required {
  color: #fff !important;
}

.ant-input {
  font-size: 16px;
}

.ant-input-affix-wrapper {
  font-size: 16px;
}