* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #000;
}


.layout {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 100px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64;
  line-height: 64px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}


.content {
  text-align: center;
  min-height: 120;
  line-height: 120px;
  height: calc(100vh - 64px);
}

.ant-drawer-content-wrapper {
  width: 100% !important;
}

.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.square {
  width: 100%;
  aspect-ratio: 1;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  cursor: pointer;
  background-color: transparent;
}

.board-row .square {
  border-right: 0;
}

.board-row .square {
  border-top: 0;
}

.board-row:first-child .square {
  border-top: 1px solid #000;
}

.board-row .square:last-child {
  border-right: 1px solid #000;
}

.calendar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.header-cld {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.day-name,
.day {
  text-align: center;
  width: 100%;
  max-width: 45px;
}

.day-name {
  padding: 8px 0 0 0;
}

.btn-change-cld {
  padding: 5px 10px;
}

.title-cld {
  font-size: 22px;
}

.day {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 20%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day.checked {
  background-color: #266828;
  color: white;
}

.day.not-check {
  background-color: #692929;
  color: white;
}

.day.faded {
  background-color: #4b4b4b;
  color: rgb(36, 36, 36);
}

.day.today {
  border: 1px solid white;
}